<template>
  <div class="row q-pa-lg">
    <h4>Cadastro de projeto</h4>
    <div class="col-12">
      .q-pa-md
      <q-stepper
      v-model="step"
      ref="stepper"
      vertical
      color="primary"
      animated
      >
      <q-step
        :name="1"
        title="Informações do projeto"
        icon="settings"
        :done="step > 1"
      >
      <div class="q-gutter-md">
          <q-input outlined v-model="Projeto.titulo" label="Título do projeto" />
          <q-input outlined v-model="Projeto.plano_trabalho" label="Título do plano de trabalho" />
          <q-input outlined v-model="Projeto.area_conhecimento " label="Área de conhecimento" />
      </div>
      </q-step>

      <q-step
        :name="2"
        title="Informações da bolsa"
        caption="Informações da bolsa"
        icon="create_new_folder"
        :done="step > 2"
      >
        <div class="q-gutter-md">
          <q-input outlined v-model="Projeto.edital" label="Edital" />
          <q-input outlined v-model="Projeto.agencia" label="Agência financiadora" />
          <q-input outlined v-model="Projeto.referencia_chamada" label="Referencia da chamada" />
        </div>
      </q-step>

      <q-step
        :name="3"
        title="Selecionar Coordenador"
        icon="assignment"
      >
       Input Coordenador
      </q-step>

      <q-step
        :name="4"
        title="Adicionar Bolsistas"
        icon="add_comment"
      >
      Input Bolsistas
      </q-step>

      <template v-slot:navigation>
        <q-stepper-navigation>
          <q-btn @click="step++" color="primary" :label="step === 4 ? 'Finish' : 'Continue'" />
          <q-btn v-if="step > 1" flat color="primary" @click="step--" label="Back" class="q-ml-sm" />
        </q-stepper-navigation>
      </template>
    </q-stepper>
    </div>
    </div>
</template>
<script setup lang="ts">
import { ref } from 'vue'

// this.$refs.stepper.next()
// this.$refs.stepper.previuos()
// https://quasar.dev/vue-components/stepper

export interface TipoProjeto{
  id?: string;
  titulo: string;
  plano_trabalho: string;
  area_conhecimento: string;
  edital: string;
  agencia: string;
  referencia_chamada: string;
  status?: boolean;
}
const Projeto = ref<TipoProjeto>({
  id: '',
  titulo: '',
  plano_trabalho: '',
  area_conhecimento: '',
  edital: '',
  agencia: '',
  referencia_chamada: '',
  status: false
})
const step = ref(1)
</script>
